body {
	margin: 0;
	padding: 0;
	color: black;
        background: #88a7c7;
}

#specialform {
	display: inline;
}

#content {
	top: 0;
	margin: 0;
	padding: 0;
        background-color: #7AA0C0;
}

#mw-data-after-content {
	font-fami/ly: Verdana, Arial, sans-serif;
	color: black;
	font-size: 8pt;
}



#headertext-center {
       text-align: center;
       font-family: Courier;
       font-size: 23px;
       text-transform: uppercase;
       color: #FFFFFF;
       text-shadow: 0px 2px 3px #111111; 
}


#headertext-left {
       text-align: left;
       font-family: Courier;
       font-size: 19px;
       text-transform: uppercase;
       color: #FFFFFF;
       text-shadow: 0px 2px 3px #111111; 
}


#shadowbox {
      background:#88ACCC;      
      overflow:hidden;
      display:block;
      -moz-box-shadow:0px 0px 10px 7px #111177;
      -webkit-box-shadow:0px 0px 10px 7px #111177;
      box-shadow:0px 0px 10px 7px #111177;

}


#roundedbox {
padding:10px;
background: #f6f6fe;
border:10px solid #88accc;
border-radius:33px;
-moz-border-radius:33px;
-webkit-border-radius:33px;
}


#squarebox {
padding:10px;
background: #f6f6fe;
border:1px solid #88accc;
}


H3.vertical-text {
	color:#000000;
	border:0px solid red;
	writing-mode:tb-rl;
        transform: rotate( 0deg);  /*Works IE7 IE8 on IE9  & IE10 NEEDS TO BE 1st*/
	-webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	-o-transform: rotate(90deg); 
  
	white-space:nowrap;
	display:block;
	bottom:0;
	width:40px;
	height:40px;
        font-family: ‘Trebuchet MS’, Helvetica, sans-serif;
	font-size:24px;
	font-weight:normal;
	text-shadow: 0px 0px 1px #333;
}


H3.diagonal-text {
	color:#333;
	border:0px solid red;
	writing-mode:tb-rl;

        -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.25881905, M12=0.96592583, M21=-0.96592583, M22=0.25881905,sizingMethod='auto expand')";
        filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.25881905, M12=0.96592583, M21=-0.96592583, M22=0.25881905,sizingMethod='auto expand');
        transform: rotate( 15deg);
        -webkit-transform:rotate(15deg);
	-moz-transform:rotate(15deg);
	-o-transform: rotate(15deg);        

	white-space:nowrap;
	display:block;
	bottom:0;
	width:190px;
	height:190px;
	font-family: ‘Trebuchet MS’, Helvetica, sans-serif;
	font-size:24px;
	font-weight:normal;
	text-shadow: 0px 0px 1px #333;
}



#topbar {
        width:100%;
	padding: 0;        
}

#powersearch {
	background: #DDEEFF;
	border-style: solid;
	border-width: 1px;
	padding: 2px;
}



#article, #article td, #article th, #article p {
	font-family: Verdana, Arial, sans-serif;
	font-size: 10pt;
	color: black;
        
}

#article p {
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 1ex;
	margin-bottom: 0;
}

p, pre, td, th, li, dd, dt {
	line-height: 12pt;
}

textarea {
	overflow: auto;
}


#footerimage {

        background-image: url("/images/uso_footer.png");
        background-repeat: repeat-x; 
        background-position: 0 0;
        margin-top: 0px;
	margin-bottom: 0px;
        padding: 0;
        padding-top: 0px;
	padding-bottom: 0px;
        width:100%;
        height: 100px;
        overflow:visible;
}


#footer {  
        background-image: url("/images/uso_background.png");
        background-repeat: repeat; 

        font-family: Verdana, Arial, sans-serif;        
	color: white;
	margin-top: 0px;
	margin-bottom: 0px;
        padding: 0;
        padding-top: 0px;
	padding-bottom: 50px;
        width:100%;
	

}


#footer form {
	display: inline;
}

#footerlinks {                    
        
        padding-top: 0;
	padding-bottom: 0;
        padding-left: 20px;
        padding-right: 20px;
	margin-top: 0;
	margin-bottom: 0;        
        text-transform: uppercase;
	font-family: Verdana, Arial, sans-serif;	
        color: black;
	text-decoration: none;
	font-size: 14pt;        
	vertical-align: top;   
        text-align: left;     

}


#footerlinks  a {
	font-family: Verdana, Arial, sans-serif;	
	color: white;
	text-decoration: none;
	font-size: 11pt;
}


#sitetitle {
	font-family: Times, serif;
	color: white;
	font-weight: normal;
	font-size: 32pt;
	line-height: 32pt;
}

td.top {        
        background-image: url("/images/uso_background.png");
        background-repeat: repeat;

	background-color: #6688AA;
	color: white;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0;
	padding-bottom: 0;
	text-transform: uppercase;
	font-family: Verdana, Arial, sans-serif;
	font-size: 14pt;
}

td.top a {
	font-family: Verdana, Arial, sans-serif;
	background-color: transparent;
	color: white;
	text-decoration: none;
	font-size: 14pt;
}

td#top-syslinks {
	text-align: right;
	vertical-align: bottom;
}
td.top-linkcollection {
	text-align: right;
}
/**
 * Overrides text justification (user preference)
 * See bug 31990
 */
td.top-linkcollection #catlinks {
	text-align: right;
}
td.top-subheader {
	vertical-align: top;
}
td.bottom { 

	font-family: Verdana, Arial, sans-serif;
	font-size: 13pt;
	padding: 0;
	text-align: center;
	vertical-align: bottom;
}

#pagestats {
	font-family: Verdana, Arial, sans-serif;
	color: black;
	font-size: 13pt;
}

#sitesub {
	font-family: Verdana, Arial, sans-serif;
	font-size: 10pt; font-weight: bold;
	color: black;
	padding-top: 0;
}



#quickbar a {
	color: #FFFFFF;
        font-weight: bold;
        font-size: 9pt;
}



#quickbar form {
	padding: 0;
	margin-top: 0;
}

h1 {
	color: #666666;
	font-family: Verdana, Arial, sans-serif;
	font-size: 180%;
	line-height: 21pt;
}

h1 .editsection {
	font-size: 55.6%;
}

h1.pagetitle {
        visibility:hidden;
	padding-bottom: 0;
	margin-bottom: 0;
}


p.subtitle {
        visibility:hidden;	
}


#article p.subtitle {
	color: #666666;
	font-size: 11pt;
	font-weight: bold;
	padding-top: 0;
	margin-top: 0;
	padding-bottom: 1ex;
}

a {
	color: #223366;
}

a.external {
	color: #336644;
}

a:visited {
	color: #8D0749;
}

a.printable {
	text-decoration: underline;
}

a.stub, #quickbar a.stub {
	color: #772233;
	text-decoration: none;
}

a.new, #quickbar a.new {
	color: #CC2200;
}

h2, h3, h4, h5, h6 {
	margin-bottom: 0;
}

small {
	font-size: 75%;
}

input.mw-searchInput {
	width: 106px;
}


table.calendar          { margin: 0; padding: 10px; }
table.calendar td       { margin: 0; padding: 2px; vertical-align: top; }
table.month .heading td { padding:2px; background-color:#d4d4d4; color:#aaa; text-align:center; font-size:120%; font-weight:bold; }
table.month .dow td     { color:#aaa; text-align:center; font-size:110%; }
table.month td.today    { background-color:#ddd; }
table.month td {
    border: none;
    margin: 0;
    padding: 1pt 1.5pt;
    font-weight: bold;
    font-size: 8pt;
    text-align: right;
    background-color: #eee;
    }
#bodyContent table.month a { background:none; padding:0 }
.day-active { color:#0000cc }
.day-empty  { color:#cc0000 }


.wikitable {   background:#88accc;  border:10px solid #88accc; }

